.header.header_blue{
    background: transparent;
}
.container{
    padding: 0;
    padding-bottom: 0.88rem;
}
.base_data{
    border-bottom: 0.2rem solid #f6f6f6;
    padding-bottom: 0.45rem;
    padding-top: 1.95rem;
    background: url("../images/course_bg.png") no-repeat;
    background-size: 100% auto;
}
.base_data .avatar{
    float: left;
    position: relative;
    margin: 0 0.2rem 0 0;
}

.base_data .avatar img {
    width: 1.4rem;
    height: 1.4rem;
}

.base_data .avatar .sex {
    position: absolute;
    bottom: 0.2rem;
    right: 0;
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: #fff;
    border-radius: 50%;
}

.base_data .avatar .sex i {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.base_data .avatar .man {
    background: url("../images/man.png") no-repeat center center;
    background-size: 0.24rem 0.24rem;
}

.base_data .avatar .woman {
    background: url("../images/woman.png") no-repeat center center;
    background-size: 0.19rem 0.24rem;
}

.base_data .data{
    margin: 0 auto;
    padding: 0.3rem;
    width: 85%;
    border-radius: 0.3rem;
    background: #fff;
    color: #999;
    box-shadow: 0 5px 20px #b6ccfa5e;
}
.base_data .data .name{
    font-size: 0.32rem;
    color: #000;
    font-weight: bold;
}
.base_data .data .level{
    display: inline-block;
    line-height: 0.4rem;
    padding: 0 0.15rem;
    color: #fff;
    background: #f17ffb;
    border-radius: 0.18rem;
    vertical-align: text-bottom;
}
.base_data .data .address{
    font-size: 0.32rem;
    color: #000;
    font-weight: bold;
    margin: 0.2rem 0;
}
.base_data .data .number{
    color: #2a8cff;
}
.base_data .data .number img{
    width: 0.3rem;
    height: 0.3rem;
    vertical-align: middle;
}
.base_data .data .follow{
    float: right;
    margin-top: 0.2rem;
    width: 1.32rem;
    height: 0.47rem;
    line-height: 0.47rem;
    font-size: 0.26rem;
    color: #2a8cff;
    border: 1px solid #2a8cff;
    border-radius: 0.3rem;
    text-align: center;
}
.tab{
    display: flex;
    justify-content: space-around;
    height: 0.74rem;
    line-height: 0.74rem;
    font-size: 0.28rem;
    color: #666666;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
}
.tab .active{
    color: #444c59;
    font-weight: bold;
}
.tab .active i{
    display: inline-block;
    width: 0.28rem;
    height: 0.04rem;
    background: #444c59;
    vertical-align: top;
}
ul{
    padding: 0 0.3rem;
}
ul li{

    /*height: 1.52rem;*/
}
ul li .number{
    float: left;
    margin-top: 0.64rem;
    font-size: 0.32rem;
    font-weight: bold;
    color: #999;
}
ul li .content{
    padding: 0.3rem 0;
    margin-left: 0.55rem;
    /*width: 5.8rem;*/
    border-bottom: 1px solid #e7e7e7;
}
ul li .content .title{
    margin: 0 0 0.15rem;
    font-size: 0.32rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 5.8rem;
    display: inline-block;
}
ul li .content .detail{
    color: #999;
    width: 5.8rem;
    display: inline-block;
}
ul li .content .detail span{
    display: inline-block;
    width: 1rem;
}
ul li .content .detail .time{
    width: 1.2rem;
}
ul li .content .detail .price{
    color: #fd5f60;
}
ul li .content .detail img{
    margin-right: 0.03rem;
    width: 0.24rem;
    height: 0.24rem;
    vertical-align: middle;
}
ul li .right{
    display: inline-block;
    width: 0.31rem;
    height: 0.31rem;
    margin-top: -0.3rem;
}
.people_data{
    padding: 0.3rem;
    line-height: 0.5rem;
}
.fix_bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    background: #2a8cff;
    color: #fff;
    font-size: 0.28rem;
    text-align: center;
}
/*确认购买遮罩层*/

.upload_mask{
    display: none;
    z-index: 1111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    text-align: center;
}
.upload_mask .content{
    padding: 0.35rem 0;
    margin: 40% auto 0;
    width: 5.76rem;
    background: #fff;
    border-radius: 0.23rem;
}
.upload_mask .close{
    margin-right: 0.35rem;
    width: 0.28rem;
    height: 0.28rem;
}
.upload_mask .title{
    padding-top: 0.4rem;
    color: #666;
    font-size: 0.32rem;
    font-weight: bold;
}

.upload_mask .submit{
    margin: 0.4rem auto 0;
    width: 2.4rem;
    height: 0.7rem;
    line-height: 0.7rem;
    background: #ea5d5c;
    color: #fff;
    border-radius: 0.2rem;
}
.upload_mask .submit a{
    color: #fff;
}

.upload_mask .course_data{
    color: #999;
}
.upload_mask .course_data img{
    margin-top: 0.25rem;
    width: 2.46rem;
    height: auto;
}
.upload_mask .course_data .price{
    font-size: 0.28rem;
    color: #000;
}