.container{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.container .title{
    margin-top: 0.3rem;
    font-size: 0.32rem;
    font-weight: bold;
    line-height: 0.58rem;
}
.detail{
    text-indent: 24px;
    line-height: 0.42rem;
}