.header_write{
    /*background: #fff;*/
}
form{
    padding: 0 0.25rem;
}
form div{
    height: 0.78rem;
    margin-top: 0.4rem;
    border-bottom: 1px solid #e5e5e5;
    font-size: 0.28rem;
}
form div input{
    height: 100%;
    width: 5rem;
}
form .code span{
    float: right;
    display: inline-block;
    margin-top: 0.13rem;
    width: 1.8rem;
    height: 0.55rem;
    line-height: 0.55rem;
    background: #2a8cff;
    border-radius: 0.05rem;
    font-size: 0.24rem;
    text-align: center;
    color: #fff;
}
.submit{
    position: fixed;
    bottom: 0.42rem;
    left: 1rem;
    /* margin: 1.5rem auto 0; */
    width: 5.5rem;
    height: 0.88rem;
    line-height: 0.88rem;
    background: #2a8cff;
    border-radius: 0.05rem;
    font-size: 0.32rem;
    text-align: center;
    color: #fff;
}