.content{
    /*font-size: 0.3rem;*/
}
.content .payPrice{
    padding: 0 0.3rem;
    height: 1rem;
    line-height: 1rem;
    border-top: 0.2rem solid #f4f4f4;
    border-bottom: 0.2rem solid #f4f4f4;
    font-size: 0.28rem;
    font-weight: bold;
}
.content .payPrice span{
    /*margin: 0 0.2rem;*/

}
.content .payPrice .price{
    float: right;
    font-size: 0.36rem;
    color: #fd5f5f;
}
.type_title{
    margin: 0.4rem 0.3rem 0;
    height: 0.7rem;
    font-size: 0.28rem;
    font-weight: bold;
    color: #666;
}
ul{
    padding: 0 0.3rem;
}
ul li{
    height: 1.22rem;
    border-bottom: 1px solid #e5e5e5;

}
ul li img{
    margin: 0 0.25rem 0 0;
    width: 0.61rem;
    height: 0.61rem;
}

ul li .middle{
    display: inline-block;
    margin-top: 0.18rem;
}
ul li .middle p{
    font-size: 0.21rem;
    color: #b3b3b3;
}
ul li .middle .title{
    color: #333;
    font-size: 0.3rem;
}
ul li span{
    float: right;
    margin: 0.42rem 0.2rem 0 0;
    width: 0.32rem;
    height: 0.32rem;
    line-height: 0.32rem;
    border: 0.04rem solid #fd5f5f;
    border-radius: 50%;
    text-align: center;
}
ul li span i{
    display: none;
    /*display: inline-block;*/
    width: 0.18rem;
    height: 0.18rem;
    background: #fd5f5f;
    border-radius: 50%;
}
ul li span i.select{
    display: inline-block;
}
button{
    margin: 1.2rem 5% 1.2rem;
    width: 90%;
    height: 0.95rem;
    line-height: 0.95rem;
    background: #2a8cff;
    border-radius: 0.05rem;
    font-size: 0.32rem;
    font-weight: bold;
    color: #fff;
}